.mylcard {
  padding: 0.5%;
}

.myscard {
  background-color: #f8f9fa;
  border: 1px solid blanchedalmond;
  padding-top: 5%;
  padding-bottom: 5%;
}

a {
  color: black;
  text-decoration: none;
}

.thumbnail {
  height: 100px;
  width: 90px;
}

.btn:disabled {
  border: none;
}

.container-sm {
  max-width: 600px;
}

.Link {
  text-decoration: underline;
  color: royalblue;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 40%;
  left: 40%;
}

.checkout-steps div{
  color: #a0a0a0;
  border-bottom: 0.2rem solid #a0a0a0;
}

.checkout-steps .active {
  color: #0D6EFD;
  border-bottom: 0.2rem solid #0D6EFD;
}